*{
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}
  
header{
    background-color: grey;
    height: 8vh;
    display: flex;
    justify-content: space-between;
}

@media screen and (min-width: 768px){
    .nav-menu{
      display: none;
    }
    
    nav ul{
      display: none;
    }
    
    nav ul li{
      list-style: none;
      display: inline-block;
      line-height: 8vh;
      margin: 0 .5em;
    }
}   
ul{
    display:none;
}
input{
    display:none;
}  
input:checked  ~ ul{
    display:block;
}

li {
    display: block;
    background: lightgrey;
    margin: 0;
    padding: 10px;
    list-style: none;
    border-bottom: 1px solid grey;
}