*{
    /* Para que el header no tenga margin y se vea unido al body */
    margin:0;
    padding:0;
}
header {
    /* Se personaliza el header, donde esta el menu hamburguesa y logo */
    background-color: rgba(128, 128, 128, 0.534);
    height: 15vh;
    display:flex;
    justify-content: space-between;
}
/* Titulos */
h1{
    margin : 4.5vh;
    color: white;
}

h3{
    background-color:rgb(92, 95, 99) ;
    width: 210px;
    height: 45px;
    border-radius: 10px 10px 0px 0px;
    text-align: center;
    margin-top:20px;
    margin-left: 50%;
    border-top: 1px solid;
    border-right:1px solid ;
    border-left:1px solid ;
    border-color: rgb(53, 53, 53);
}
/* Cuerpo */
body{
    background-image: url("../imgs/anton-maksimov-juvnsky-qM37iptlCNY-unsplash.jpg");
    background-size: cover;
}
/* Menu hamburguesa */
#boton, #enlace-registro, #btn-registrar{
    visibility: collapse;
    color: white;
}
#boton:checked ~ * #enlace-registro{
    visibility:visible;  
}

nav{
    margin-top: 1vh;
    font-size: 4vh;
}
nav label{
    margin: 0%;
    display: block;
    font-size: 10vh;
    color: white;
    cursor:pointer;
}
/* #nav-menu:hover{
    
    background-color:rgb(146, 150, 155);
} */
ul{
    display:contents;
    
    padding: 8vh 6vh;
    background-color: rgba(128, 128, 128, 0.788);
}


/* Registro */

form{
    background-color: rgb(226, 226, 226);
    width: 210px;
    margin-top: -18px;
    margin-left: 50%;
    border-radius: 0px 0px 10px 10px;
    border-right:1px solid ;
    border-left:1px solid ;
    border-bottom:1px solid ;
    border-color: rgb(53, 53, 53);
}
#btn-submit-form{
    margin-left: 72px;
    background-color:rgb(146, 150, 155) ;
}
#btn-submit-form:hover{
    cursor:pointer;
    background-color: rgb(207, 207, 207);
}

input,label{
    margin-left: 15px;
}
#masculino, #femenino:hover{
    cursor:pointer;
}