*{
    margin:0;
    padding:0;
}
header{
    background-color: grey;
    height: 8vh;
    display:flex;
    justify-content: space-between;
}
#boton, #enlace-registro, #btn-registrar{
    visibility: collapse;
}
#boton:checked ~ * #enlace-registro{
    visibility:visible;  
}
body{
    background-color: rgba(124, 127, 131, 0.575);
}
nav{
    margin-top: 1vh;
    font-size: 4vh;
}
nav label{
    cursor:pointer;
}
#nav-menu:hover{
    background-color:rgb(146, 150, 155);
}
